name: Azure Login with OIDC

on:
  push:
  workflow_dispatch:
permissions: # <-- ADD THIS BLOCK HERE
  id-token: write # <-- Essential for OIDC
  contents: read  # <-- Essential for the checkout action

jobs:
  login-to-azure:
    #permissions:
    # id-token: write
    # contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login with OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
